{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Connexion{% endblock %}

{% block body %}
    <h1 class="h3 mb-5 mt-3 font-weight-normal title-login">S'enregistrer :</h1>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <div class="login-block">
        <div class="login-form">
            {% if app.user %}
                <div class="mb-3 mx-auto text-center">
                    Vous etes enregistré en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <label for="inputEmail">Email/Pseudo :</label>
            <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

            <label for="inputPassword">Mot de passe :</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mb-3 mt-3">
                <label>
                    <input class="checkbox" type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>

            <p><a href="{{ path('forgot_password') }}">Mot de passe oublié ?</a></p>

            <button class="btn btn-lg btn-primary" type="submit">
                S'enregistrer
            </button>
        </div>
        <div class="container-logo-login">
            <img class="logo-login"
                 data-aos="flip-right"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="1500"
                 src="{{ asset('img/icon/pana.png') }}" alt="">
        </div>
    </div>



</form>
{% endblock %}
