{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<h2>Filtrer les sortie</h2>
    {{ form_start(filterForm) }}
    {{ form_widget(filterForm) }}
    <button class="btn btn-primary">Rechercher</button>
    {{ form_end(filterForm) }}

<h2>Liste des sorties</h2>
    <table class="table table-sm">
    <thead>
    <tr>
        <th scope="col">Nom de la sortie</th>
        <th scope="col">Date de la sortie</th>
        <th scope="col">Clôture</th>
        <th scope="col">Inscrits/Places</th>
        <th scope="col">Etat</th>
        <th scope="col">Inscrit</th>
        <th scope="col">Organisateur</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
        {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date('d/m/Y') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                    <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td> {{ imIn[sortie.id] == true ? 'Oui' : 'Non' }} </td>
                    <td>{{ sortie.organisateur.pseudo }}</td>
                    <td>
                        <a href="{{ path('sortie_details', {'id': sortie.id}) }}">Afficher</a>
                        {% if app.user %}
                            {% if imIn[sortie.id] %}
                                <a href="{{ path('main_desister', {'id': sortie.id}) }}">Se desister</a>
                            {% else %}
                                <a href="{{ path('main_participe', {'id': sortie.id}) }}">S'inscrire</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
        {% else %}
            <p>Aucune sortie de prévu !</p>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
