{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}

    <h1>{% if app.user == user %} Mon profil {% else %} Profil {% endif %}</h1>
    <div class="fullFlex">
        <div>
            <p class="miniTitle">Pseudo <span class="miniDescription">{{ user.pseudo }}</span></p>
            <p class="miniTitle">Identitée <span class="miniDescription">{{ user.prenom }} {{ app.user.nom }}</span></p>
            <p class="miniTitle">Mail <span class="miniDescription">{{ user.email }}</span></p>
            <p class="miniTitle">Avatar</p>
            {% if user.photoProfil == null %}
                Aucune photo de profil :(
            {% else %}
                <img src="{{ asset('img/miniature/' ~ user.photoProfil) }}" alt="" class="article-miniature">
            {% endif %}
        </div>
        <img src="{{ asset('img/icon/Profile data-bro.png') }}" alt="">
    </div>

    {% if app.user == user %}
        <h2>Modification</h2>
        <div class="panelButton">
            <button class="btn"><a href="{{ path('profil_modify') }}">Modifier le profil</a> </button>
            <button class="btn"><a href="{{ path('profil_modifyPassword') }}">Modifier le Mot de passe</a> </button>
            <button class="btn"><a href="{{ path('profil_delete', {'id': app.user.id }) }}" onclick="return confirm('Voulez vous supprimer votre compte')">Supprimer le profil </a> </button>
        </div>
    {% endif %}

{% endblock %}
