{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}

    <h1>{% if app.user == user %} Mon profil {% else %} Profil {% endif %}</h1>
    <div class="profil-container">
        <div class="profil-info">

            {% if user.photoProfil == null %}
                Aucune photo de profil :(
            {% else %}
                <img src="{{ asset('img/miniature/' ~ user.photoProfil) }}"

                     alt=""
                     class="article-miniature mb-5">
            {% endif %}
            <p class="miniTitle">Pseudo <span class="miniDescription">{{ user.pseudo }}</span></p>
            <p class="miniTitle">Identitée <span class="miniDescription">{{ user.prenom }} {{ user.nom }}</span></p>
            <p class="miniTitle">Mail <span class="miniDescription">{{ user.email }}</span></p>


        </div>
        <div class="profil-avatar">
            <img class="profil-avatar-img"
                 data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"
                 src="{{ asset('img/icon/Profile data-bro.png') }}" alt="">
        </div>

    </div>

    {% if app.user == user %}
        <h2>Modification</h2>
        <div class="panelButton">
            <a href="{{ path('profil_modify') }}"><button class="btn">Modifier le profil</button></a>
            <a href="{{ path('profil_modifyPassword') }}"><button class="btn">Modifier le Mot de passe</button></a>
            <a href="{{ path('profil_delete', {'id': app.user.id }) }}" onclick="return confirm('Voulez vous supprimer votre compte')"><button class="btn">Supprimer le profil</button></a>
        </div>
    {% endif %}

{% endblock %}
