{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}

    <h1>Mon profil</h1>
    <div class="fullFlex">
        <div>
            <p class="miniTitle">Pseudo <span class="miniDescription">{{ app.user.pseudo }}</span></p>
            <p class="miniTitle">Identitée <span class="miniDescription">{{ app.user.prenom }} {{ app.user.nom }}</span></p>
            <p class="miniTitle">Mail <span class="miniDescription">{{ app.user.email }}</span></p>
            <p class="miniTitle">Avatar</p>
            {% if app.user.photoProfil == null %}
                Tu n'a pas de photo de profil :(
            {% else %}
                <img src="{{ asset('img/miniature/' ~ app.user.photoProfil) }}" alt="" class="article-miniature">
            {% endif %}
        </div>
        <img src="{{ asset('img/icon/Profile data-bro.png') }}" alt="">
    </div>

    <h2>Modification</h2>
    <div class="panelButton">
        <button class="btn"><a href="{{ path('profil_modify') }}">Modifier le profil</a> </button>
        <button class="btn"><a href="{{ path('profil_modifyPassword') }}">Modifier le Mot de passe</a> </button>
        <button class="btn"><a href="{{ path('profil_delete', {'id': app.user.id }) }}" onclick="return confirm('Voulez vous supprimer votre compte')">Supprimer le profil </a> </button>
    </div>
{% endblock %}
