{% extends 'base.html.twig' %}
{% block meta %}
    <script src="{{ asset('js/apiVille.js') }}" defer></script> {% endblock %}
{% block body %}
    <h2>Ajouter une ville</h2>
    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}
    <a href="{{ path('sortie_create') }}"><button class="btn btn-primary">Ajouter</button></a>
    {{ form_end(villeForm) }}
{% endblock %}

{% block title %}
    {{ parent() }} | Ajouter une ville
{% endblock %}

