{% extends 'base.html.twig' %}

{% block body %}
    <h2>Ajouter un lieu</h2>
    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    <a href="{{ path('sortie_create') }}"><button class="btn btn-primary">Ajouter</button></a>
    {{ form_end(lieuForm) }}
{% endblock %}

{% block title %}
    {{ parent() }} | Ajouter un lieu
{% endblock %}

