{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <ul>
            <p></p>
            <li>Nom de la sortie : {{ sortie.nom }}</li>
            <li>Date et heure de la sortie : {{ sortie.dateHeureDebut | date }}</li>
            <li>Date limite d'inscription : {{ sortie.dateLimiteInscription | date }}</li>
            <li>Nombre de places : {{ sortie.nbInscriptionMax }}</li>
            <li>Durée : {{ sortie.duree | date }}</li>
            <li>Description et infos : {{ sortie.infosSortie }}</li>
            <li>Campus : {{ sortie.campus.nom }}</li>
            <li>Lieu : {{ sortie.lieu.nom }}</li>
            <li>Rue : {{ sortie.lieu.rue }}</li>
            <li>Ville : {{ sortie.lieu.ville.nom }}</li>
            <li>Code postal : {{ sortie.lieu.ville.codePostal }}</li>
            <li>Latitude : {{ sortie.lieu.latitude }}</li>
            <li>Longitude : {{ sortie.lieu.longitude }}</li>
        </ul>
    </div>
    {% if app.user and sortie.organisateur.id == app.user.id %}
        <a href="{{ path('sortie_remove', {'id': sortie.id}) }}"><button type="submit" class="btn">Supprimer la sortie</button></a>
        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}"><button type="submit" class="btn">Modifier</button></a>
    {% endif %}

    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Pseudo</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in sortie.participants %}
            <tr>
                <td> {{ participant.nom }}</td>
                <td> {{ participant.pseudo }}</td>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block title %}
    {{ parent() }} | {{ sortie.nom }}
{% endblock %}

