{% extends 'base.html.twig' %}

{% block body %}
    <div class="fullFlex">
        <div>
            <h2>
                <h2>{{ sortie.nom }}</h2>
                {% if sortie.etat.libelle is same as ('Annuler') %}
                    <h5>Sortie annulée 😱</h5>
                    <p>{{ sortie.infosSortie }}</p>
                {% else %}
                    <p>Cette sortie d'une durée de {{ sortie.duree }} minutes est prévu pour le {{ sortie.dateHeureDebut|date('d/m/y') }} et vous avez jusqu'au {{ sortie.dateLimiteInscription|date('d/m/y') }} dans la limite de {{ sortie.nbInscriptionMax }} personnes pour vous y inscrire, apres il sera trop tard 😱</p>

                    <li class="miniTitle">Description : <span class="miniDescription"><br> <span class="tabulation"></span>{{ sortie.infosSortie }}</span></li>

                    <li class="miniTitle">Adresse :</li>
                    <li class="miniDescription"><span class="tabulation"></span>{{ sortie.lieu.nom }}</li>
                    <li class="miniDescription"><span class="tabulation"></span>{{ sortie.lieu.rue }}</li>
                    <li class="miniDescription"><span class="tabulation"></span>{{ sortie.lieu.ville.codePostal }}{{ sortie.lieu.ville.nom }}</li>
                {% endif %}
            </ul>
        </div>
        <img src="{{ asset('img/icon/Campfire-amico.png') }}" alt="">
    </div>

    {% if app.user and sortie.organisateur.id == app.user.id and sortie.etat.libelle != 'Annuler' %}
        <a href="{{ path('sortie_canceled', {'id': sortie.id}) }}"><button type="submit" class="btn">Annuler la sortie</button></a>
        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}"><button type="submit" class="btn">Modifier</button></a>
    {% endif %}

    {% if sortie.participants|length != null %}
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Pseudo</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in sortie.participants %}
            <tr>
                <td><a href="{{ path('profil_home', {'id': participant.id}) }}">{{ participant.nom }}</a></td>
                <td> {{ participant.pseudo }}</td>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}


{% endblock %}

{% block title %}
    {{ parent() }} | {{ sortie.nom }}
{% endblock %}

