{% extends 'base.html.twig' %}

{% block body %}
    <div class="fullFlex">
        <div>
            <ul>
                <p></p>
                <li class="miniTitle">Nom de la sortie <span class="miniDescription">{{ sortie.nom }}</span> </li>
                <li class="miniTitle">Date et heure de la sortie <span class="miniDescription">{{ sortie.dateHeureDebut | date }}</span></li>
                <li class="miniTitle">Date limite d'inscription <span class="miniDescription">{{ sortie.dateLimiteInscription | date }}</span></li>
                <li class="miniTitle">Nombre de places <span class="miniDescription">{{ sortie.nbInscriptionMax }}</span></li>
                <li class="miniTitle">Durée <span class="miniDescription">{{ sortie.duree }} mn</span></li>
                <li class="miniTitle">Description et infos <span class="miniDescription">{{ sortie.infosSortie }}</span></li>
                <li class="miniTitle">Campus <span class="miniDescription">{{ sortie.campus.nom }}</span></li>
                <li class="miniTitle">Adresse</li>
                <li class="miniDescription">{{ sortie.lieu.nom }}</li>
                <li class="miniDescription">{{ sortie.lieu.rue }}</li>
                <li class="miniDescription">{{ sortie.lieu.ville.codePostal }}{{ sortie.lieu.ville.nom }}</li>
                <li class="miniTitle">Coordonnées GPS <span class="miniDescription">{{ sortie.lieu.latitude }}/{{ sortie.lieu.longitude }}</span></li>
            </ul>
        </div>
        <img src="{{ asset('img/icon/Campfire-amico.png') }}" alt="">
    </div>

    {% if app.user and sortie.organisateur.id == app.user.id %}
        <a href="{{ path('sortie_remove', {'id': sortie.id}) }}"><button type="submit" class="btn">Supprimer la sortie</button></a>
        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}"><button type="submit" class="btn">Modifier</button></a>
    {% endif %}

    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Pseudo</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in sortie.participants %}
            <tr>
                <td> {{ participant.nom }}</td>
                <td> {{ participant.pseudo }}</td>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block title %}
    {{ parent() }} | {{ sortie.nom }}
{% endblock %}

